:root {
    /* Primary */
    --clr-primary-soft-red: hsl(7, 99%, 70%);
    --clr-primary-yellow: hsl(51, 100%, 49%);
    --clr-primary-dark-cyan-600: hsl(167, 40%, 24%);
    --clr-primary-dark-blue: hsl(198, 62%, 26%);
    --clr-primary-dark-cyan-300: hsl(168, 34%, 41%);

    /* Neutral */
    --clr-neutral-dark-desat-blue: hsl(212, 27%, 19%);
    --clr-neutral-dark-grayish-blue-400: hsl(213, 9%, 39%);
    --clr-neutral-dark-grayish-blue-200: hsl(232, 10%, 55%);
    --clr-neutral-grayish-blue: hsl(210, 4%, 67%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --fs-base: 1.125rem;
    --ff-primary: 'Barlow', sans-serif;
    --ff-secondary: 'Fraunces', serif;
    --fw-primary-regular: 600;
    --fw-secondary-regular: 700;
    --fw-secondary-bold: 900;
}

body {
    background-color: var(--clr-neutral-white);
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    text-align: center;
}

.hero-wrapper {
    min-height: 100vh;
    background-image: url(images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 1.5rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    display: flex;
    justify-content: space-between;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
}

.collapse {
    display: none;
}

.hero-title-wrapper {
    color: var(--clr-neutral-white);
    font-family: var(--ff-secondary);
    font-size: 1.2rem;
    font-weight: var(--fw-secondary-bold);
    letter-spacing: 6px;
    line-height: 3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.services-wrapper {
    /* display: grid;
    grid-template-rows: repeat(6, 1fr); */
}

.service {
    color: var(--clr-neutral-dark-desat-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}

.service-text {
    padding: 3.5rem 1.5rem;
}

.product-title {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-secondary-bold);
    font-size: 2rem;
    line-height: 2.5rem;
}

.product-desc {
    color: var(--clr-neutral-dark-grayish-blue-200);
}

.learn-more {
    font-family: var(--ff-secondary);
    font-size: 1rem;
    font-weight: var(--fw-secondary-bold);
    text-transform: uppercase;
    text-decoration: 6px underline var(--clr-primary-yellow);
}

.stand-out .learn-more {
    text-decoration-color: var(--clr-primary-soft-red);
}

.service-info-wrapper {
    position: absolute;
    bottom: 4rem;
}

.graphic {
    color: var(--clr-primary-dark-cyan-600);
}

.photography {
    color: var(--clr-primary-dark-blue);
}

.service-title {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-secondary-bold);
    font-size: 1.8rem;
    text-transform: capitalize;
}

.service-desc {
    padding: 0 1rem;
    margin-top: 1.5rem;
    font-size: 1rem;
}

.testinomy-wrapper {
    color: var(--clr-neutral-dark-grayish-blue-400);
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.testinomy-title {
    color: var(--clr-neutral-grayish-blue);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-secondary-bold);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.testinomy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.testinomy > img {
    width: 4rem;
    border-radius: 50%;
}

.client-name {
    color: var(--clr-neutral-dark-desat-blue);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-secondary-bold);
}

.client-position {
    color: var(--clr-neutral-grayish-blue);
    font-size: 0.9rem;
    margin-top: 0.5rem;
}